.wrapper {
    display: flex-inline;
    align-items: center;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: var(--white-color);
    cursor: pointer;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.primary {
    color: var(--white-color);
    background-color: var(--primary-color);
    transition: all 0.3s linear;
    &:hover {
        opacity: 0.8;
    }
}
