.background {
    width: 100%;
    height: 26.3rem;
}

.name {
    font-weight: 500;
    font-size: 1.6rem;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
