.menu-list {
    width: 200px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-item {
    // chỉnh vị trí cho menu item
    display: flex;
    width: 100%;
    justify-content: flex-start;

    padding: 11px 16px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8rem;
    border-radius: 0;
    background-color: #0d0d0d;
    color: var(--white-color);
    transition: all 0.2s linear;
    &:hover {
        background-color: #757575;
    }
}

// header menu
.header {
    display: flex;
    align-items: center;
    padding: 11px 16px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
}
