.nav-list {
    display: flex;
    align-items: center;
    width: 640px;
    .nav-item {
        color: var(--white-blur-color);
        padding: 0 16px;
        &:hover {
            color: var(--white-color);
            transition: var(--transition);
        }
    }
}
