.wrapper {
    --transition: all 0.3s linear;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--default-header-height);
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.inner {
    height: 100%;
    width: var(--default-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-left {
    display: flex;

    .logo {
        margin-right: 16px;
    }
}

.search-icon {
    font-size: 2rem;
    margin: 0 16px;
    color: var(--white-color);
    &:hover {
        color: var(--primary-color);
        transition: var(--transition);
    }
}
